.post {
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post_image {
  object-fit: contain;
  width: 100%;
  margin-bottom: 1px solid lightgray;
  margin-top: 1px solid lightgray;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post_header_avatar {
  margin-left: 10px;
  margin-right: 10px;
}

.post_text {
  display: flex;
  align-items: center;
  padding: 20px;
  font-weight: lighter;
}

.post_text > h4 {
  margin-right: 10px;
}
